body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(103, 118, 86);
    color: white;
  }
  
  h1 {
    margin-top: 100px;
    text-align: center;
    color: white;
  }
  
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 40px;
  }
  
  .li-container {
    background-color: white;
    width: 100%;
    color: black;
    margin-top: 20px;
  }
  
  ul {
    padding: 0;
  }
  
  form {
    display: flex;
  }
  
  input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
  }
  li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
  }
  
  li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
  
  .btn-delete {
    margin-left: auto;
    border: none;
    background-color:black;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
  }
  
  .btn-delete:hover {
    cursor: pointer;
    background-color: black;
  }
  
  .btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 1rem;
    outline: none;
  }
  
  .btn-add:hover {
    cursor: pointer;
    background-color:black;
  }
  
  .empty {
    text-align: center;
    color: white;
  }